

.option_dropdown_scope{
width: '50%';
display: block;
margin: auto;
}

.option_dropbtn {
  background-color: red;
  color: white;
  padding: 4px;
  font-size: 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.option_dropdown {
  position: relative;
  display: inline-block;
}

.option_dropdown_content {
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 200px;
  margin-top: 4px;
  z-index: 1;
  border-radius: 5px;
}
.option_dropdown_content li {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}
.option_dropdown_content li:hover {
  cursor: pointer;
  background-color:#f0efed;
  border-radius: 5px;
}

