#loginState {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 110px; 
}
.formLogin {
  border-radius: 6px;
  width: 600px;
  height: auto;
  border: solid 1px #CCCCCC;
  padding: 50px;
  
}

.btnLogin {
  margin: 10px 0 0 0;
  padding: 7px 10px;
  border-radius: 6px;
  width: 100%;
  font-size: 15px;
}

@media (min-width: 2560px) {
  #loginState {
    position: absolute;
    left: 45%;
  }
}

@media (max-width: 1024px) {
  #loginState {
    position: absolute;
    left: 50%;
  }
}

@media (max-width: 768px) {
  .imgLogin {
    display: none;
  }
  #loginState {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .formLogin {
    width: 100%;
  }
}

@media (max-width: 480px) {
  * {
    font-size: small;
  }
  .imgLogin {
    display: none;
  }
  .formLogin {
    padding: 15px;
  }
  #loginState {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
